.detailcontainer{
    display: flex;
    height: 55vh;
    justify-content: center;
    background-color: orange;
}
.detail-img{
    max-height: 100%;
    max-width: 100%;
    margin: 25px;
    margin-left: 50px;
}
.detail-textContainer{
    display: flex;
    background-color: green;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 25px;
}
.detail-title{
    background-color: aqua;
    font-size: 27.5px;

}
.detail-text{
    display: flex;
    text-align: start;
    background-color: antiquewhite;
    font-size: 25px;
}
.homeButton{
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-size: 25px;
}
button {
    
    background-color: rgb(250, 0, 0);
    color: white;
    padding: 3px 4px;
    margin: 8px 0; 
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0); 
    cursor: pointer;  /* 커서 모양 변경 */

}

input[type="password"] { /*삭제 버튼 거리 조절*/
    margin-right: 10px;
}

div { /*리뷰 간격 조절*/
    margin-bottom: 5px;
}