@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: white;
}

/*메인헤더*/
.header {       
    color: #0d4c89;
    position: relative;
    height: 170px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ccced0;
    padding: 20px;
}

.header h1 {
    font-size: 40px;
    text-align: center;
}

.header p {
    font-size: 20px;
    text-align: center;
}

.col-12 {     /*검색창*/
    position: absolute; /* 절대 위치 지정 */
    top: 115px; 
    left: 39%;
    width: 250px;
    /* transform: translateX(-50%); */
}

.text-end {    /*검색버튼*/
    position: absolute; /* 절대 위치 지정 */
    top: 115px; 
    left: 57%;
    /* transform: translateX(-50%); */
}


/*메인박스 (큰박스)*/
.main_box {
    background-color: #e9eaec;
    color : black;
    position: relative;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 구성된 그리드 생성 */
    gap: 10px; /* 각 카드 사이의 간격 설정 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.card {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin: 20px auto 0; 
  }


.card-title {
    text-align: center;
}

.card-text {
    margin-top : 10px;
}

.rating {
width: 250x;
display: flex; /* 요소들을 가로로 배치하기 위해 Flexbox 사용 */
justify-items: center; /* 요소들을 세로 중앙 정렬 */
}
  

.rate1 {
position: relative;
color: #ddd;
font-size: 30px;
text-align: center;
z-index: 1; /
}

.rating_star {
color: #0d4c89;
position: absolute;
display: flex;
left: 0;
right: 0;
overflow: hidden;
pointer-events: none;
top: 0; /* 부모 요소에 대해 상단에 위치하도록 설정 */
z-index: 0; /* 겹치는 요소 중에 가장 아래에 위치하도록 설정 */
}
 
.vote_average{
    margin: 10px;
    margin-bottom: 5px;
    text-align: center;
 }

